.top__heading {
    color: var(#1F3F68);
    font-size: 64px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04cm;
    width: 510px;
    margin-bottom: 32px;
}

.heading {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 1.8px;
}

.what-we-to {
    padding-top: 64px;
}

.cart {
    width: 359px;
    padding: 32px 44px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.20);
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.cart__img {
    align-self: center;
    margin-bottom: 51px;
}



.cart-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #1F3F68;
}

.cart__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.7px;
    color: #5A98D0;
    text-decoration: none;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top__back.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.project {}

.project__img {
    width: 100%;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__item_margin {
    margin-right: 32px;
}

.project__text {
    text-align: right;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 1.6px;
    color: #FFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.64px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    background: var(--blue-04, #5A98D0);
    box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.20);
    text-decoration: none;
    padding: 15px 50px;
    margin-top: 71px;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top__text {
    width: 425px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.8px;
    opacity: 0.6000000238418579;
}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.top {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 28.39%, rgba(152, 195, 232, 0.00) 100%);

}